<!DOCTYPE html>
<html lang="en-US"><!-- 🦅 -->
<head>
    <title> {{ title }} - History - Weekend</title></head>
    <style>
        {% include "css/main.css" %}
        .diff {
            font-family: monospace;
            white-space: pre-wrap;
            /* Chrome? */
            white-space-collapse: preserve;
            max-width: 80ch;
            font-size: 14px;
        }
    </style>
<body>
<div id="wk-container">
    <header>
        <p>
            <a href="/">Home</a>
        </p>
    </header>
    <main>
        <h1>History of &ldquo;<em>{{ title }}</em>&rdquo;</h1>
        <div id="actions">
            <p>
                <a href="/{{ slug }}">Read</a> | <a href="/{{ slug }}/edit">Edit</a>
            </p>
        </div>
        <div id="content">
            {% for entry in revisions %}
            <section>
                <h2>Revision {{ entry.version }}</h2>
                <div class="diff">{{ entry.delta }}</div>
            </section>
            {% endfor %}
        </div>
    </main>
</div>
</body>
</html>
